<h1>グループ一覧</h1>

<!-- 検索フォーム -->
<form action="<%= admin_groups_path %>" method="get">
  <label for="keyword">グループ名検索</label><br>
  <input
    type="text"
    name="keyword"
    id="keyword"
    value="<%= @keyword %>"
  >
  <input type="submit" value="検索">
</form>

<hr>

<!-- グループ一覧 -->
<% if @groups.any? %>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= link_to group.name, admin_group_path(group) %>
        （人数：<%= group.users.count %>）
      </li>
    <% end %>
  </ul>
<% else %>
  <p>該当するグループはありません。</p>
<% end %>
